.row {
  &:not(:last-of-type) {
    margin-bottom: 20px;
  }
  &:last-of-type {
    justify-content: flex-end;
  }
  &-error {
    color: red;
    font-weight: 500;
    font-size: 12px;
  }
  label {
    text-transform: uppercase;
    font-weight: 500;
  }
}
